// -------------------------------------
//   Base
// -------------------------------------
// -- variables | layout | typography
// -------------------------------------


// -------------------------------------
//   Variables
// -------------------------------------

$white = rgb(255, 255, 255)
$black = rgb(0, 0, 0)
$goBlue = rgb(0, 40, 84)
$maize = rgb(255, 203, 11)

$primary = #CF6059
$offWhite = #ebe0dd
//$primary = #7A9EA8

$mobile = "screen and (min-width: 320px)"
$iphone6 = "screen and (min-width: 360px)"
$iphonePlus = "screen and (min-width: 414px)"
$tablet = "screen and (min-width: 768px)"
$desktop = "screen and (min-width: 960px)"

// -------------------------------------
//   Layout
// -------------------------------------

*
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

body
  width 100%
  height 100% 
  background $primary

section
  position relative
  display block
  float left
  width 100%
  height 100%
  overflow auto
      
.l-section-container
  width 100%
  max-width 960px
  margin 0 auto
  padding 25px
  
// -------------------------------------
//   Typography
// -------------------------------------
  
h1, h2, h3, h4, h5, h6, p, span, li
  color $white
  
h1
  font 32px/32px 'Nixie One', cursive
  
h2, 
h3
  font 28px/28px 'Nixie One', cursive
  

h4, 
h5, 
h6
  font 28px/32px 'Nixie One', cursive
  
p,
span,
li
  font 400 14px/21px 'Lato', sans-serif

a
  color $white
  font 700 16px/24px 'Lato', sans-serif
