// -------------------------------------
//   index.styl
// -------------------------------------
// ----- Contains an import section for libs, core, and modules, the inbox,
// ----- and a shame section for quick fixes and hacks ----- //

// -------------------------------------
//   Libs
// -------------------------------------

//@import 'nib'
@import 'vendor/normalize.css'
@import 'vendor/slick-slider.css'

// -------------------------------------
//   Core
// -------------------------------------

// ----- Layout - Margin, Padding, Sizing, etc.. ----- //
@import 'base'
@import 'components/utilities'

// ----- Site ----- //
@import 'components/header'
@import 'components/nav'
@import 'components/hero'
@import 'components/content'
@import 'components/gallery'
@import 'components/services'
@import 'components/contact'
@import 'components/loader'

// -------------------------------------
//   Inbox
// -------------------------------------
// ----- The inbox allows to quickly add styles
// ----- that are easily seen by everybody else
// -------------------------------------


// -------------------------------------
//   Shame
// -------------------------------------
// ----- Need to add a quick fix, hack, or questionable technique?
// ----- Add it here, fix it later.
// -------------------------------------
