<div class="email-overlay"></div>
<div class="email-container">
	<div id="mainform">
	<!-- Required Div Starts Here -->
		<form id="form" class="l-flex-col">
			<h3>Contact Form</h3>
			<p class="flex" id="returnmessage"></p>
			<label class="flex">Name: <span>*</span></label>
			<input class="flex" type="text" id="name" placeholder="Name"/>
			<label class="flex" >Email: <span>*</span></label>
			<input class="flex" type="text" id="email" placeholder="Email"/>
			<label class="flex" >Contact No: <span>*</span></label>
			<input class="flex" type="text" id="contact" placeholder="10 digit Mobile no."/>
			<label class="flex" >Message:</label>
			<textarea class="flex" id="message" placeholder="Message......."></textarea>
			<input type="button" id="submit" class="flex" value="Send Message"/>
		</form>
	</div>
</div>