<div class="l-email-container l-flex-col">
	
	<form>
	      <label for="form_name" class="flex">Name</label>
	      <input name="form_name" id="form_name" type="text" class="flex" >

	      <label for="form_email" class="flex">Email</label>
	      <input name="form_email" id="form_email" type="email" class="flex" >

	      <label for="form_msg" class="flex">Message</label>
	      <textarea name="form_msg" id="form_msg" class="flex"></textarea>
	      <input id="submit" class="button flex" name="submit" type="submit" value="Send">


	</form>

</div>