<div class="l-email-container">
	
	<form class="l-flex-col">
		<h2>Send Us A Message</h2>
		<span class="btn-close contact-form-btn">X</span>
		<div class="site-line"></div>
		<label for="form_name" class="flex">Name</label>
		<input name="form_name" id="form_name" type="text" class="flex" >

		<label for="form_email" class="flex">Email</label>
		<input name="form_email" id="form_email" type="email" class="flex" >

		<label for="form_phone" class="flex">Phone</label>
		<input name="form_phone" id="form_phone" type="tel" class="flex" >

		<label for="form_msg" class="flex">Message</label>
		<textarea name="form_msg" id="form_msg" class="flex" rows="5" placeholder="Find out more, place an order, or just say hey!"></textarea>
		<input id="submit" class="button flex btn-sml" name="submit" type="submit" value="Send">

	</form>

</div>