#content
	background transparent 

.content-container
	width 100%
	
	.three
		width 30.333333333%
		float left
		text-align center
		padding 0
		margin 0 1.5%
		
		ul
			padding 0
			margin 0
			
			li
				padding 10px 0
				margin 0
				list-style none 
