// -------------------------------------
//   Email
// -------------------------------------
// ----- email form feild styles
// -------------------------------------

.email-container-overlay
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  z-index 1
  background rgba(0, 0, 0, 0.4)
  opacity 0
  visibility hidden 

#emailForm
  position fixed
  width 100%
  max-width 300px
  padding 25px
  height auto
  background $white
  box-shadow 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
  -webkit-border-radius 4px 
  border-radius 4px  
  top 52%
  left 50%
  z-index 5 
  -webkit-transform translate(-50%, -50%)
  -moz-transform translate(-50%, -50%)
  -ms-transform translate(-50%, -50%)
  -o-transform translate(-50%, -50%)
  transform translate(-50%, -50%)
  visibility hidden
  opacity 0
  display none

  @media $tablet
    max-width 500px
    
  @supports (-ms-accelerator:true) 
    width 500px
    height 550px
    overflow hidden

  h2
    color $primary
    margin-bottom 0
    margin-top 25px
    font-size 16px
    font-weight 20px

    @media $tablet
      font-size 28px
      font-weight 28px
      margin-top 20px


  form
    margin 0

  .flex
    display block

  form label
    margin-bottom 5px
    font 300 14px/16px "Lato", sans-serif
    color $primary

  form label.error
    margin-bottom 15px
    font 300 12px/14px "Lato", sans-serif
    color $orange

  form input[type="text"],
  form input[type="email"],
  form input[type="tel"],
  form textarea
    margin-bottom 20px
    font 300 14px/22px sans-serif
    box-shadow none
    -moz-box-shadow none
    -webkit-box-shadow none
    background $creme
    border 1px solid $primary
    -webkit-border-radius 4px 
    border-radius 4px 

  form input[type="text"] focus,
  form input[type="email"] focus,
  form input[type="tel"] focus,
  form textarea focus
    border-color $orange
    box-shadow none
    background $white 
    -moz-box-shadow none
    -webkit-box-shadow none

  form input[type="text"][disabled],
  form input[type="email"][disabled],
  form input[type="tel"][disabled],
  form textarea[disabled]
    background $creme

  form input[type="text"].error,
  form input[type="email"].error,
  form input[type="tel"].error,
  form textarea.error
    background $creme
    border-color $primary

  form textarea
    width 100%
    max-width 400px
    height 100%
    max-height 100px 

  fieldset
    border 0px
    margin 0
    padding 0

  .required
    color $orange

  #success, #error
    display none

  #success span, #erro span
    display block
    position absolute
    top 0
    width 100%

  #success span p, #error span p
    margin-top 6em

  #success span p
    color $green

  #error span p
    color $orange
    
  .thank-you,
  .validate-email,
  .error-email
    position absolute
    top 50%
    left 50%
    z-index 5
    width 100% 
    max-width 90%
    height auto
    padding 25px
    background $white
    text-align center
    boxShadowLight()
    -webkit-border-radius 4px 
    border-radius 4px
    -webkit-transform translate(-50%, -50%)
    -moz-transform translate(-50%, -50%)
    -ms-transform translate(-50%, -50%)
    -o-transform translate(-50%, -50%)
    transform translate(-50%, -50%)
    pointer-events none
    opacity 0
    visibility hidden
    
    p
      font 700 14px/24px 'Nixie One', sans-serif
      color $primary
      
      @media $tablet
        font-size 16px
      
    svg
      width 100%
      max-width 120px
      height auto
      
    .icon-logo-fill
      fill $primary
      
    @media $tablet
      max-width 300px 

  .validate-email,
  .error-email
    background $primary
    
    .icon-logo-fill
      fill $white
      
    p
      font 400 14px/24px 'Lato', sans-serif
      color $white
      letter-spacing 1px
      
      @media $tablet
        font-size 16px
        
  .error-email p
    letter-spacing 0  

  .btn-close
    position absolute
    top 15px
    right 25px
    cursor pointer
    color $primary
    font 300 18px/18px sans-serif
    -webkit-transition color 0.3s ease-in-out 
    -moz-transition color 0.3s ease-in-out 
    -ms-transition color 0.3s ease-in-out 
    -o-transition color 0.3s ease-in-out 
    transition color 0.3s ease-in-out
    
    &:hover
      color lighten($primary, 15)
      
    @media screen and (min-width: 320px) and (max-width: 414px)
      top 35px