#home
  background rgba( 0, 0, 0, 0)
  display block
  
  .icon-logo-fill 
    fill $white
  
  #logo,
  .hero-copy
  	width 100%
  	float right
	
  svg
  	display block
  	width 100%
  	max-width 250px
  	height auto
  	margin 0 auto

@media $desktop
	#logo
		width 50% !important
		float right
		
	.hero-copy
		width 50% !important
		float right
    
