#loading 
  centerer(50%)
  position fixed
  width 200px
  height 20px
  border 5px solid #267579
  overflow hidden
  -webkit-transition all 0.5s ease-in-out 
  -moz-transition all 0.5s ease-in-out 
  -ms-transition all 0.5s ease-in-out 
  -o-transition all 0.5s ease-in-out 
  transition all 0.5s ease-in-out
  
  &:before
    content ''
    coverer() 

  #loading-bar
    background-color #e6aeac
    height 10px
    width 0%


#debug
  position fixed
  bottom 0
  left 0
  padding 20px
  background-color white
  display none
 