#loading
  transition all 0.5s ease-in-out
  centerer(50%)
  position fixed
  top: 50%
  left: 50%
  width 200px
  height: 20px
  border 5px solid #267579
  overflow hidden
  
  &:before
    content ''
    position absolute
    top 0
    left 0
    background black 

  #loading-bar
    background-color #e6aeac
    height 10px
    width 0%


#debug
  position fixed
  bottom: 0
  left: 0
  padding 20px
  background-color white
  display none
 