#services
	background rgba( 0, 0, 0, 0)
	
	h1
		text-transform uppercase
		font-size 48px
		line-height 52px
		background rgba(0,0,0,0)
		  
		@media screen and (min-width: 824px)
			background url('../images/title-bg-service.png')no-repeat center center
			background-size contain
	
		  
	.service-section
		width 100% 
		padding 25px 0

	.service-title-fill
		fill $offWhite

	.service-title
		text-align center

	svg
		margin auto 0
		width 100%
		max-width 360px

	p
		font-size 20px
		line-height 28px
		letterspacing 1px
		padding 0 25px
		margin 0
	
	.tasting
		.service-title
			width 100%
			float left

		.service-text
			width 100%
			float left
			text-align center 

	.custom
		.service-title
			width 100%
			float left

		.service-text
			width 100%
			float left
			text-align center  

	.dessert
		.service-title
			width 100%
			float left 

		.service-text
			width 100%
			float left
			text-align center 
			
	@media $tablet
		.tasting
			.service-title
				width 40%
				float left 

			.service-text
				width 60%
				float left
				text-align right 

		.custom
			.service-title
				width 40%
				float left 

			.service-text
				width 60%
				float left
				text-align left  

		.dessert
			.service-title
				width 40%
				float left 

			.service-text
				width 60%
				float left
				text-align right
