#services
	background rgba( 0, 0, 0, 0)
	
	.service-section
		width 100% 
		padding 25px 0

	.service-title-fill
		fill $offWhite

	.service-title
		text-align center

	svg
		margin auto 0

	p
		font-size 20px
		line-height 28px
		letterspacing 1px
		padding 0 25px
		margin 0
	
	.tasting
		.service-title
			width 40%
			float left 

		.service-text
			width 60%
			float left
			text-align right 

	.custom
		.service-title
			width 40%
			float left 

		.service-text
			width 60%
			float left 

	.dessert
		.service-title
			width 40%
			float left 

		.service-text
			width 60%
			float left
			text-align right 