// -------------------------------------
//   Helper classes
// -------------------------------------

// -------------------------------------
//   Layout
// -------------------------------------

body
  background $white
  font-family $font
  color $black
  margin 0
  padding 0
