<div class="l-section-container">

  <h1 class="text-center"><%= data.title %></h1>

  <div class="service-section l-flex-row tasting">
  	<div class="service-title">
      <div class="title-taste"></div>
      <div class="site-line"></div>
  	</div>
  	<div class="service-text">
  		<p><%= data.copyTasting %></p>
  	</div>
  </div>

  <div class="service-section l-flex-row custom l-row-reverse">
  	<div class="service-title">
      <div class="title-custom"></div>
      <div class="site-line"></div>
  	</div>
    <div class="service-text">
      <p><%= data.copyCustom %></p>
    </div>
  </div>

  <div class="service-section l-flex-row dessert">
  	<div class="service-title">
      <div class="title-trays"></div>
      <div class="site-line"></div>
  	</div>
  	<div class="service-text">
  		<p><%= data.copyDessert %></p>
  	</div>
  </div>
  
</div>
  
