<div class="l-section-container clearfix">

	<div class="content-container">
		<div class="three">
		  <h4>Three Layer Cake</h4>
		  <hr>
		  <ul>
		    <li>STARTS @ $25</li>
		    <li>1/4 Serves 25 - 30 Guests</li>
		    <li>1/4 Serves 25 - 30 Guests</li>
		    <li>1/4 Serves 25 - 30 Guests</li>
		  </ul>
		</div>

		<div class="three">
		  <h4>Three Layer Cake</h4>
		  <hr>
		  <ul>
		    <li>STARTS @ $25</li>
		    <li>1/4 Serves 25 - 30 Guests</li>
		    <li>1/4 Serves 25 - 30 Guests</li>
		    <li>1/4 Serves 25 - 30 Guests</li>
		  </ul>
		</div>

		<div class="three">
		  <h4>Three Layer Cake</h4>
		  <hr>
		  <ul>
		    <li>STARTS @ $25</li>
		    <li>1/4 Serves 25 - 30 Guests</li>
		    <li>1/4 Serves 25 - 30 Guests</li>
		    <li>1/4 Serves 25 - 30 Guests</li>
		  </ul>
		</div>
	</div>

</div>